.App {
    font-family:  'Times New Roman', Times, serif;
    text-align: center;
  }
  
  .question-section {
    margin-bottom: 20px;
  }
  
  .question-count {
    margin-bottom: 10px;
  }
  
  .question-text {
    margin-bottom: 20px;
  }
  
  .answer-section button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
  }
  /* global.css */
body {
  font-family: 'Times New Roman', Times, serif;
}
